# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/frontend/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/frontend/android/app/debug
/frontend/android/app/profile
/frontend/android/app/release
.mingit/
/backend/testing/**/node_modules/
/backend/testing/node_modules/
**/node_modules/
**/~$*.xlsx
~$*.xlsx


# Environment secrets and debug logs
.env
*.env
backend/.env
*.log
*.txt
full_jobs.json
jobs.json
jobs_logs.txt
gradle_fail_log.txt
job23_logs.txt
job24_logs.txt
job25_logs.txt
job_logs.txt
/frontend/android/app/build/
/frontend/android/build/
*.xlsx
